<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to My Blog App, <%= @user.first_name %></h1>
    <p>
      You have successfully signed up to My Blog App,
      with username is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: 
      <%= link_to 'confirm', confirm_email_url(token: @user.token.last.token_value, user: @user.id) %>.
      This link is experied in 10 min.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>